<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoCPT</title>
    <link rel="stylesheet" href="../css/landingpage.css">
    <link rel="icon" type="image/png" href="../assets/gocptweblogo.png">
</head>
<body>
    <header>
        <nav class="navbarallignment">
            <div class="logo">GO<span>CPT</span></div>
            <ul class="nav-links">
                <li><a href="#home">Home</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#contact">Contact Us</a></li>
                <li><a href="#faq">FAQ</a></li>
            </ul>
            <div class="auth-buttons">
                <a href="/login" class="button1">Login</a>
                <a href="/signup" class="button2">Sign up</a>
            </div>
        </nav>
        <div class="hamburger-icon">
            <img src="../assets/hamburger.svg" alt="Menu" id="hamburgerIcon">
        </div>
    </header>
    <div class="mobile-menu" id="mobileMenu">
        <ul class="mobile-nav-links">
            <li><a href="#home">Home</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#contact">Contact Us</a></li>
            <li><a href="#faq">FAQ</a></li>
            <li><a href="login.html" class="button1">Login</a></li>
            <li><a href="signup.html" class="button2">Sign up</a></li>
        </ul>
    </div>
    </header>
    
    <section id="home" class="home-section">
        <div class="home-content">
            <img src="../assets/gocptlogo.png" alt="Health Insurance Form">
            <h1>Welcome to GO<span>CPT</span> Beta - Your Path to Effortless CPT Coding!</h1>
            <p>We're excited to introduce you to the beta version of goCPT - your free pass to a simplified and efficient CPT coding experience designed exclusively for mental health professionals like you.</p>
            <a href="/signup">Start Testing</a>
        </div>
        <div class="home-image">
            <img src="../assets/healthinsuimage.jpeg" alt="Health Insurance Form">
        </div>
    </section>
    
    <section id="features" class="features-section">
        <h2>Key Features of GO<span>CPT</span> Beta</h2>
        <div class="features">
            <div class="feature">
                <img src="../assets/userfriendly.svg" alt="User Friendly">
                <h3>User Friendly</h3>
                <p>The goCPT app offers a user-friendly feature for determining CPT codes based on time alone. To utilize this functionality, simply navigate to the designated time button within the app and input the total time spent managing the patient during the encounter. The app will then generate the appropriate CPT code, considering the significant role of time in certain scenarios, such as counseling or coordination of care, in determining the level of service provided</p>
            </div>
            <div class="feature">
                <img src="../assets/medicalcomplexityassesment.svg" alt="Medical Complexity Assessment">
                <h3>Medical Complexity Assessment</h3>
                <p>Medical Complexity Assessment
                    The goCPT app calculates encounters of varying complexity (straightforward/minimal, low, moderate, and high) based on a meticulous assessment of Medical Decision-Making (MDM), taking into account the number of diagnoses, management options, risk of complications or morbidity, and the amount and complexity of data reviewed during the encounter</p>
            </div>
        </div>
        <div class="features">
            <div class="feature">
                <img src="../assets/emcodegeneration.svg" alt="EM Code Generation">
                <h3>E&M Code Integration</h3>
                <p>Seamlessly incorporates the key components influencing E&M code selection, such as History of Present Illness (HPI), Examination, Medical Decision-Making (MDM), and Time considerations</p>
            </div>
            <div class="feature">
                <img src="../assets/streamlineddocumentation.svg" alt="Streamlined Documentation">
                <h3>Streamlined Documentation</h3>
                <p>Facilitates accurate code assignment by providing a user-friendly interface for configuring CPT billing codes directly from your progress notes. The app emphasizes documentation accuracy to capture the true complexity of the services rendered
                   <br> Note: progress notes must be formatted in a word document or pdf</p>
            </div>
        </div>
        
    </section>
    
    <section id="about" class="about-section">
        <div class="about-content">
            <h1><span>About US</span></h1>
            <h1>Empowering Mental Health Professionals with Simplified CPT Coding</h1>
            <p>Welcome to goCPT, where the journey of revolutionizing the medical coding and billing landscape began with a single idea - to make mental health care more accessible to everyone.<br><br>Join us on this transformative journey as we continue to innovate and evolve, breaking down barriers and making mental health care accessible to all. Together, we can shape a future where healthcare providers are empowered, and quality mental health care knows no boundaries.</p>
            <a href="signup.html">Sign Up Today!!</a>
        </div>
        <div class="about-image">
            <img src="../assets/doctors.svg" alt="doctors">
        </div>
    </section>

    <section id="about2" class="about2-section">
        <h2>Our <span>Story</span></h2>
        <p>The goCPT app offers a user-friendly feature for determining CPT codes based on time alone. To utilize this functionality, simply navigate to the designated time button within the app and input the total time spent managing the patient during the encounter. The app will then generate the appropriate CPT code, considering the significant role of time in certain scenarios, such as counseling or coordination of care, in determining the level of service provided</p>
        <div class="abouts">
            <div class="abouta">
                <h3>Our Mission</h3>
                <p>At goCPT, our mission is simple yet profound - to empower mental health professionals and remove the barriers that hinder them from providing quality care and pursuing their dreams of private practice. We believe that every individual should have access to exceptional mental health care, and that starts with simplifying the coding and billing process.</p>
            </div>
            <div class="abouta">
                <h3>Our Vision</h3>
                <p>We envision a future where mental health care is more accessible, where providers can focus on what they do best - helping individuals on their path to wellness. By harnessing the power of technology, we aim to streamline the complexities of CPT coding, enabling providers to dedicate more time to patient care and less to administrative burdens.</p>
            </div>
        </div>
    </section>

    <section id="about3" class="about3-section">
        <h2>Why GO<span>CPT</span>?</h2>
        <p> <br>At goCPT, we understand the unique challenges mental health professionals face. Our app is designed with your needs in mind, offering a user-friendly platform that simplifies the coding process. By utilizing goCPT, providers can reclaim valuable time, reduce administrative stress, and ensure accurate code assignment for proper reimbursement.
            <br>
            <br>Join us on this transformative journey as we continue to innovate and evolve, breaking down barriers and making mental health care accessible to all. Together, we can shape a future where healthcare providers are empowered, and quality mental health care knows no boundaries.
            <br>
            <br>Thank you for choosing goCPT - where innovation meets compassion in the pursuit of accessible mental health care.
            <br>
            <br>Warm regards,
            <br>
            <br>Tiffinne 
            <br>Founder, goCPT</p>
    </section>

    <section id="gallery" class="gallery-section">
        <h2>Ensuring CPT Code Accuracy with goCPT App</h2>
        <div class="gallery">
            <div class="gallery-card">
                <img src="../assets/gallery1.jpeg" alt="Image 1">
                <h3>Thorough Documentation</h3>
                <p>Be comprehensive in documenting the patient encounter. Include a detailed history of present illness, an exhaustive examination, and a comprehensive medical decision-making process. Capture all relevant details, ensuring that your notes paint a complete picture of the patient's condition and your clinical assessment</p>
            </div>
            <div class="gallery-card">
                <img src="../assets/gallery2.jpeg" alt="Image 2">
                <h3>Specificity Matters</h3>
                <p>Provide specific details about each medical issue. Describe the nature, severity, and progression of symptoms. Specificity enhances the accuracy of code generation by ensuring that the app captures the complexity of the patient's conditions and the level of decision-making required</p>
            </div>
            <div class="gallery-card">
                <img src="../assets/gallery3.jpeg" alt="Image 3">
                <h3>Include Relevant Data</h3>
                <p>Include Relevant Data
                    Ensure that your note incorporates all relevant data, including diagnostic test results, imaging studies, and laboratory findings. The goCPT app considers the complexity of data analysis, so including these details enhances the accuracy of the generated codes</p>
            </div>
            <div class="gallery-card">
                <img src="../assets/gallery4.jpeg" alt="Image 4">
                <h3>Assess Risk and Complexity</h3>
                <p>Assess Risk and Complexity
                    Evaluate and document the risk of complications and/or morbidity associated with the patient's condition. Be explicit about the factors contributing to the complexity of the case. The goCPT app considers risk assessment, and detailed documentation aids in accurate code generation</p>
            </div>
            <div class="gallery-card">
                <img src="../assets/gallery5.jpg" alt="Image 5">
                <h3>Time-Based Coding</h3>
                <p>Time-Based Coding
                    Utilize time-based coding when appropriate. If a significant portion of the encounter is devoted to counseling or coordination of care, document the time spent. The goCPT app recognizes time as a crucial factor in certain code selections, contributing to accurate billing</p>
            </div>
            <div class="gallery-card">
                <img src="../assets/gallery6.jpg" alt="Image 6">
                <h3>Document Thoroughly with All Relevant Data</h3>
                <p>Ensure that your note incorporates all relevant data, including ordering or reviewing diagnostic test results, imaging studies, and laboratory findings. The goCPT app considers the complexity of data analysis, so including these details enhances the accuracy of the generated codes</p>
            </div>
            <div class="gallery-card">
                <img src="../assets/gallery7.jpg" alt="Image 7">
                <h3>Regularly Update the App</h3>
                <p>Keep the goCPT app updated to ensure you benefit from the latest enhancements and refinements. Regular updates enhance the app's capabilities, providing you with increasingly accurate code suggestions</p>
            </div>
            <div class="gallery-card">
                <img src="../assets/gallery8.jpeg" alt="Image 8">
                <h3>Stay Informed</h3>
                <p>Stay abreast of changes in coding guidelines and standards. Familiarize yourself with any updates to CPT codes or relevant regulations. A well-informed approach ensures that your documentation aligns with current coding requirements</p>
            </div>
        </div>
        <h4>By incorporating these tips into your practice, you can maximize the accuracy of CPT codes generated by the goCPT app. Remember, your detailed and precise documentation is instrumental in optimizing the app's capabilities and contributing to the overall success of your medical coding and billing processes</h4>
    </section>
       
    <section id="contribute" class="contribute-section">
        <h2>How You Can Contribute</h2>
        <div class="contribute">
            <div class="contribute-card">
                <h3>Sign Up and Use goCPT Beta</h3>
                <p>Dive into the beta version by signing up <a href="#">here</a>. Explore its features and discover firsthand how goCPT can simplify your CPT coding processes.</p>
            </div>
            <div class="contribute-card">
                <h3>Share Your Feedback</h3>
                <p>Your experiences and insights matter. Utilize the feedback mechanism within the app to share your thoughts, suggestions, and any issues you encounter. Your feedback guides our ongoing improvements.</p>
            </div>
        </div>
    </section>
    
    <section id="join-us" class="join-us-section">
        <h2>Join GO<span style="color: rgba(9, 23, 71, 1);">CPT</span> on this Journey!</h2>
        <p>By participating in the goCPT Beta, you're not just a user; you're a vital part of our community shaping the future of mental health billing. Together, we can create an app that truly meets your needs and exceeds your expectations.</p>
        <a href="signup.html" class="join-button">Sign up today!</a>
    </section>

    <section id="contact" class="contact-section">
        <h2>Contact Us</h2>
        <div class="contactformsection">
        <img src="../assets/contact-image.jpg" alt="Contact Image">
        <div class="contact-form">
            <input type="text" id="name" placeholder="Your Name" required>
            <input type="email" id="email" placeholder="Your Email" required>
            <input type="text" id="address" placeholder="Your Company Address" required>
            <textarea id="message" placeholder="Your Message" rows="5" required></textarea>
            <button onclick="sendMail()">Send</button>
        </div>
    </div>
    </section>
    
    <section id="faq" class="faq">
        <h2>Frequently Asked Questions</h2>
        <div class="faq-item">
            <div class="faq-question" onclick="toggleAnswer(1)">
                <h3>Is the goCPT beta version free to use?</h3>
            </div>
            <div class="faq-answer" id="answer-1">
                <p>Yes, the beta version of goCPT is currently free for users. We intend to keep it free for as long as improvements and adjustments are regularly being made to enhance user experience and functionality</p>
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-question" onclick="toggleAnswer(2)">
                <h3>How long will the beta version remain free?</h3>
            </div>
            <div class="faq-answer" id="answer-2">
                <p>The beta version will remain free as long as we continue to make significant improvements and adjustments based on user feedback. Our commitment is to provide a valuable and evolving tool for our users</p>
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-question" onclick="toggleAnswer(3)">
                <h3>Is my data secure, and how does goCPT handle HIPAA compliance?</h3>
            </div>
            <div class="faq-answer" id="answer-3">
                <p>Absolutely. We take data security and HIPAA compliance seriously. All data entered into the goCPT app is encrypted and stored securely. We adhere to stringent HIPAA regulations to ensure the confidentiality and privacy of your patient information</p>
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-question" onclick="toggleAnswer(4)">
                <h3>Can I use goCPT for billing purposes?</h3>
            </div>
            <div class="faq-answer" id="answer-4">
                <p>Yes, goCPT is designed to assist medical professionals in configuring CPT billing codes directly from progress notes. However, it is essential to verify code accuracy and adhere to your organization's billing processes. goCPT is not responsible for any billing discrepancies or errors.</p>
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-question" onclick="toggleAnswer(5)">
                <h3>How does goCPT ensure the privacy of my patients' information?</h3>
            </div>
            <div class="faq-answer" id="answer-5">
                <p>Patient privacy is of utmost importance. goCPT employs robust security measures to safeguard all data. We do not share, sell, or disclose any personal or patient information to third parties. To ensure complete anonymity, please remove details such as the patient’s name, date of birth, address, and other patient identifiers.</p>
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-question" onclick="toggleAnswer(6)">
                <h3>Can I provide feedback on the app?</h3>
            </div>
            <div class="faq-answer" id="answer-6">
                <p>Absolutely! We encourage users to provide feedback on their experiences with goCPT. Your insights are invaluable in helping us refine and improve the app. You can provide feedback directly within the app.</p>
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-question" onclick="toggleAnswer(7)">
                <h3>Is goCPT compliant with other coding standards besides CPT?</h3>
            </div>
            <div class="faq-answer" id="answer-7">
                <p>Currently, goCPT primarily focuses on CPT coding. We are continuously exploring ways to enhance the app's capabilities, and future updates may include additional coding standards</p>
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-question" onclick="toggleAnswer(8)">
                <h3>Can I use time-based coding with goCPT?</h3>
            </div>
            <div class="faq-answer" id="answer-8">
                <p>Yes, goCPT recognizes the importance of time-based coding in certain scenarios. If a significant portion of the encounter is devoted to counseling or coordination of care, you can input the relevant time to assist in accurate code generation.</p>
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-question" onclick="toggleAnswer(9)">
                <h3>How often is goCPT updated?</h3>
            </div>
            <div class="faq-answer" id="answer-9">
                <p>We strive to provide regular updates to goCPT to incorporate user feedback, address bugs, and enhance functionality. Users are encouraged to keep the app updated to access the latest improvements.</p>
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-question" onclick="toggleAnswer(10)">
                <h3>What do I do if I encounter issues or have specific feature requests?</h3>
            </div>
            <div class="faq-answer" id="answer-10">
                <p>If you encounter any issues or have specific feature requests, please reach out to our support team. We value your input and are committed to addressing user concerns promptly</p>
            </div>
        </div>
        <h4><br>For any additional questions or support, please contact us at <a href="mailto:support@gocpt.ai">support@gocpt.ai</a></h4>
    </section>
    
    
    <footer>
        <div class="footer-container">
            <div class="footer-left">
                <h1>GO<span>CPT</span></h1>
                <p><br>We are not here to sell you products, <br>we sell value through our expertise.</p>
                <p><br><strong>Email:</strong> <a href="mailto:info@gocpt.ai">info@gocpt.ai</a></p>
                <p><br>&copy; 2024 GO<span2>CPT</span2>. All rights reserved.</p>
            </div>
            <div class="footer-right">
                <nav>
                    <ul>
                        <li><a href="#home">Home</a></li>
                        <li><a href="#features">Features</a></li>
                        <li><a href="#about">About Us</a></li>
                        <li><a href="#contact">Contact Us</a></li>
                        <li><a href="#faq">FAQ</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="footer-center">
            <p>&copy; 2024 GO<span>CPT</span></p>
        </div>
    </footer>
    <script src="../scripts/landingpagescript.js"></script>
</body>
</html>
